﻿@using Sitecore.Mvc
@* @using Sitecore.Mvc.Analytics.Extensions *@
@{
    Layout = null;
}
<!DOCTYPE html>
<!-- saved from url=(0027)https://www.fidelity.ch/en/ -->
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script async="" src="~/assets/js/analytics.js"></script>
    <link rel="stylesheet" href="~/assets/css/app.css">
    <link rel="stylesheet" href="~/assets/css/custom.css">
    <link rel="shortcut icon" href="https://www.fidelity.ch/static/switzerland/ui/images/brand/favicon.ico">
    <meta class="foundation-mq">
    <title>Fidelity International - Switzerland</title>
    <link rel="alternate" hreflang="en-CH" href="https://www.fidelity.ch/en/">
    <link rel="alternate" hreflang="de-CH" href="https://www.fidelity.ch/de/">
    <meta name="title" content="Fidelity International - Switzerland">
    <meta name="description" content="Fidelity is an international investment manager offering a wide range of investment funds for the needs of all types of investors.">
    <meta name="author" content="Fidelity International">
</head>
<body>
    <div id="root">
        <div>
            <div id="cookie-disclaimer-region"><div></div></div>
            <div class="main">
                
                @Html.Sitecore().Placeholder("header")

                <div id="navigation-jumper-region"></div>
                <div id="notification-region"><div class="page-padding-left page-padding-right"></div></div>
                <div id="promotion-summary-region"><div></div></div>
                <div id="container-region">
                    <div class="homepage">
                        <div class="panels-container">

                            
                            @Html.Sitecore().Placeholder("PagePlaceholder")

                            
                        </div>
                    </div>
                </div>
            </div>
            @Html.Sitecore().Placeholder("footer")
        </div>
    </div>
    <script src="~/assets/js/terms_en.js" type="text/javascript" defer=""></script>
    <script src="~/assets/js/config_en.js" type="text/javascript" defer=""></script>
    <script src="~/assets/js/dashboards_en.js" type="text/javascript" defer=""></script>
</body>
</html>