﻿@using Demo.FIL.WebUI.Models
@using Glass.Mapper.Sc.Fields
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<Demo.FIL.WebUI.Models.Navigation>

<nav class="navigation-container">
    <ul class="navigation float-right">
        @foreach (NavigationSection nav in Model.Children)
        {
            if (nav.DisplayInNav)
            {
                 <li class="has-dropdown">
                     <a href="@nav.Url" data-section-name="@nav.NavigationText" data-is-modified="1">@nav.NavigationText</a>
                     <ul class="dropdown hide-me">
                         @foreach (NavigationSection item in nav.Children)
                         {
                             if (nav.DisplayInNav)
                             {
                                 <li><a href="@item.Url" data-is-modified="1">@item.NavigationText</a></li>
                             }
                         }
                     </ul>
                 </li>
             }
        }
    </ul>
    <ul class="navigation-mobile float-left">
        <li class="show-for-small-only clearfix">
            <a class="button button-secondary" href="https://www.fidelity.ch/en/my-fidelity/login" data-is-modified="1">Log in or Register</a>
        </li>
        @foreach (NavigationSection nav in Model.Children)
        {
            if (nav.DisplayInNav)
            {
                <li class="has-dropdown">
                    <a href="@nav.Url" data-section-name="@nav.NavigationText" data-is-modified="1">@nav.NavigationText</a>
                    <ul class="dropdown hide-me">
                        @foreach (NavigationSection item in nav.Children)
                        {
                            if (nav.DisplayInNav)
                            {
                                <li><a href="@item.Url" data-is-modified="1">@item.NavigationText</a></li>
                            }
                        }
                    </ul>
                </li>
            }
        }
        <li class="has-dropdown language-switcher-mobile">
            <a href="javascript:void(0);">Language (English)</a>
            <ul class="dropdown hide-me">
                <li><a href="https://www.fidelity.ch/de/" data-bypass="">Sprache (Deutsch)</a></li>
            </ul>
        </li>
    </ul>
</nav>