﻿@using Demo.FIL.WebUI.Models
@using DynamicPlaceholders.Mvc.Extensions
@using Glass.Mapper.Sc.Fields
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<Demo.FIL.WebUI.Models.Tags>

<div class="item-container">
    <p class="section-label">Regions</p>
	
    <div class="tags-wrapper">
        @foreach (Tag tag in Model.RegionTags)
        {
            <span>
                <a href="/search/region/@tag.Text">@tag.Text</a>
            </span>
        }
    </div>
</div>
<div class="item-container">
    <p class="section-label">Topics</p>

    <div class="tags-wrapper">
        @if (Model.TopicTags != null)
        {
            foreach (Tag tag in Model.TopicTags)
            {
                <span>
                    <a href="/search/topic/@tag.Text">@tag.Text</a>
                </span>
            }
        }
    </div>
</div>