﻿<%@Application Language='C#' Inherits="Demo.FIL.WebUI.MvcApplication" %>

<%-- WARNING: Every custom application must derive from the Sitecore.Web.Application class. Otherwise some Sitecore features will not be available or will not work correctly. --%> 
