﻿@using Demo.FIL.WebUI.Models
@using DynamicPlaceholders.Mvc.Extensions
@using Glass.Mapper.Sc.Fields
@using Sitecore.Links
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<Demo.FIL.WebUI.Models.ListingPage>

<div>
    <div class="article-details">
        <section class="article-header">
            <div class="content-label"><a href="@Sitecore.Links.LinkManager.GetItemUrl(Sitecore.Context.Item.Parent)">@Sitecore.Context.Item.Parent.Name</a></div>
            <h1>@Editable(Model, x => x.Title)</h1>
            <p class="lead">@Editable(Model, x => x.IntroText)</p>
            <div class="meta">
                <span><span class="label-pro" title="Content for fund professionals only">@Model.ContentTypeTags.FirstOrDefault().Text</span></span>

                <span class="author icon-author">@Editable(Model, x => x.Author.FirstOrDefault().AuthorName)</span>
                <span class="region icon-regional">@RenderLink(Model, x => x.RegionTags.FirstOrDefault().Link,null,true)</span>

                <span class="date icon-date">@Model.Date.ToShortDateString()</span>
            </div>
        </section>
        <div class="registration-region"></div>
        @Editable(Model, x => x.Text)
    </div>
    @*<script type="application/ld+json">
        {
        "@context": "http://schema.org",
        "@type": "NewsArticle",
        "headline": "Does ‘buying the dips’ work for EMD?",
        "alternativeHeadline": "Does ‘buying the dips’ work for EMD?",
        "image": ["../images/expert-opinion/buying-the-dips-1.PNG","../images/expert-opinion/buying-the-dips-2.PNG","../images/expert-opinion/buying-the-dips-3.PNG","../images/expert-opinion/buying-the-dips-4.PNG",""],
        "datePublished": "2017-10-26 15:44:00",
        "description": "Clients often ask us when is the right time to invest in emerging market debt. In other words, they are asking if they can time the market. Our analysis shows the answer is no. Marton Huebler, head of fixed income tactical quantitative research, found that applying a market timing strategy, which enters the market on dips, lags the returns of the index by a long way.",
        "articleBody": "
        <p>We evaluated a strategy that buys emerging market debt (EMD) in hard currency only after prices fall by a certain margin. When prices recover sufficiently, the strategy switches back into cash until prices fall again and so on.</p>
        <p>We tested the &lsquo;buy the dips&rsquo; strategy over nearly 22 years and found that the underperformance versus a continuously invested strategy was stark (chart 1). While buying the dips does reduce the extent of drawdowns, the reduction doesn&rsquo;t translate into any improvements in the Sharpe ratio. In fact, the strategy&rsquo;s Sharpe ratio is significantly worse than the continuously invested index approach (table 1).</p>
        <p>Note: &lsquo;Buy the dips&rsquo; strategy involves buying the index when prices fall by 10% or more, and selling after it rebounds by more than 30%. EMD Index is JP Morgan&rsquo;s EM Bond Global Diversified. All results are total returns.</p>
        <p>Source: Fidelity International Quantitative Research, JP Morgan, 18 October 2017</p>
        <p>The benchmark we used was JP Morgan&rsquo;s Emerging Market Bond Index Global Diversified (EMBIGD) - the most widely used emerging market bond index in US dollars. The index has a 10% cap in country weight and we used its total returns - the index return with coupons and principal reinvested.</p>
        <p>The &lsquo;buy the dips&rsquo; strategy is defined by:</p>
        <ul> <li>Remaining in cash instruments1 until and unless the EMBIGD has experienced a drop of more than D% in the last 12 months.</li> <li>When the drop is greater or equal to D%, the strategy switches into the index.</li> <li>When the total return of the index exceeds a rebound level of R%, the strategy switches back into cash.</li> </ul>
        <p>The underlying idea is to time the market to reduce the drawdown but participate in the upside when markets recover. Both the required drop D and the required rebound R need to be large enough (5% or more) to avoid excessive turnover. The strategy does better when the rebound is bigger than the initial drop, and it also benefits from the receipt of coupons in addition to price recovery.</p>
        <p>We ignored transaction costs because these can vary significantly depending on how the strategy is implemented. The back-test period is 21.8 years, starting January 1996, which is the longest historically available period of both the cash return index (LIBOR) and the EMD index.</p>
        <p>Using a required drop (D) of 10% and a required rebound (R) of 30% (the parameters used in Chart 1), the strategy is dominated by the index across total return, annualised return and the Sharpe ratio (table 1). As expected, the total return and the Sharpe ratio increase as the required rebound R increases because exposure is only taken when R is higher (table 2 and 3).</p>
        <p>Note: Annualised daily sharpe ratio: Arithmetic avg of daily returns *260 / (St.dev. of daily returns * &radic;260)</p>
        <p>Source: Fidelity International Quantitative Research, JP Morgan, 18 October 2017</p>
        <p>If we change the required drop (D), we find that both total returns and the Sharpe ratio fall as D increases - there is an inverse relationship between D, and total return and the Sharpe ratio. This is the crucial point: we can only hope to match the index total return and Sharpe ratio when the required drop falls to around 5% and the required rebound is above 35%. </p>
        <p>This renders the &lsquo;buy the dips&rsquo; strategy effectively useless for long-term investors because with a low required drop, investors will still have to invest at the most troubling times (when markets continue to fall before reaching the bottom), and the high required rebound means that investors will need to spend longer in the market but without simply remaining in the market continuously and reaping the rewards of staying invested. It&rsquo;s the worst of both worlds: anxious down markets without the benefit of continuous market exposure. </p>
        <p>To time the market better and invest nearer to or at the bottom, we modified the &lsquo;buy the dips&rsquo; strategy by augmenting it with Fidelity&rsquo;s quant signals.</p>
        <p>We applied two of Fidelity&rsquo;s proprietary credit beta models to the problem of finding market bottoms:</p>
        <p>The Credit Sentiment Indicator (CSI) looks at top-down market characteristics and the Credit Cycle Model (CCM) is a bottom-up model. The available period covering the CSI, CCM and EMD index was from April 2005.</p>
        <p>To test whether Fidelity&rsquo;s models can improve performance, the strategy is modified to:</p>
        <ul> <li>Remain in cash instruments until and unless the EMBIGD has experienced a drop of more than D% in the last 12 months and both the CSI and CCM signals are positive.</li> <li>When the drop is greater or equal to D%, and CSI and CCM are above zero, the strategy switches into the EMBIGD.</li> <li>When the total return of the index exceeds a rebound level of R%, the strategy switches back into cash.</li> </ul>
        <p>Chart 2 shows that the modified strategy does not outperform the much simpler &lsquo;buy the dips&rsquo; strategy, and it trails the total returns of the long-only approach by a large margin. However, the modified strategy&rsquo;s Sharpe ratio is higher than both the &lsquo;buy the dips&rsquo; and index strategies.</p>
        <p>By entering the market &lsquo;too late&rsquo;, after the bottom rather than too early like the buy the dips strategy, the modified approach times the market better. In particular, it avoids catching the falling knife of 2008 when markets collapsed, helping the modified strategy to avoid any significant drawdowns over the period examined.</p>
        <p><strong>Credit Sentiment Indicator (CSI):</strong> top-down indicator for characteristics including momentum, mean reversion, volatility trends, market liquidity and macro sentiment</p>
        <p><strong>Credit Cycle Model (CCM):</strong> bottom-up indicator aggregating trends in single-company accounting forecasts and equity option pricing into a market-wide credit beta forecast</p>
        <p>Note: &lsquo;Buy the dips&rsquo; and modified strategies assume D=10% and R=30%. EMD Index is JP Morgan&rsquo;s EM Bond Global Diversified. All results are total returns.</p>
        <p>Source: Fidelity International Quantitative Research, JP Morgan, 18 October 2017</p>
        <p>Table 5 shows that the total return of the modified strategy lags the index total return (160%) over the period. But, at a required drop of 5% and a required rebound above 5%, the strategy exceeds the Sharpe ratio of the index because drawdowns are avoided. That&rsquo;s also the case at higher levels of the required drop D and required rebound R.</p>
        <p>The compromise investors face with the modified version of the buy the dips strategy is the increased opportunity cost: we can imagine cases of +10% drawdowns followed by a quick market rebound in the 10-20% range - yet the CSI and CCM quant models remain in a risk-off state, restricting exposure to the market. In other words, entering the market &lsquo;too late&rsquo; misses out on some of the gain.&nbsp;</p>
        <p>Source: Fidelity International Quantitative Research, 18 October 2017</p>
        <p>The risk and return characteristics of buying the dips in risky fixed income markets such as emerging market debt depends on how much certainty is required before buying.</p>
        <ul> <li>Waiting for a deep drawdown means it is likely that the strategy will remain in cash for extended periods. While this can be very successful in making large returns once a decade, the aggregate performance over the last 21 years averages only a third of the long-only strategy.</li> <li>Buying smaller dips increases the time spent exposed to the market and pushes up returns, but investors still have to contend with further drawdowns as the market searches for the bottom, and the strategy lags the total and risk adjusted returns of remaining exposed to the market.</li> <li>A more sophisticated strategy, which includes additional triggers designed to avoid further drawdowns and better time market bottoms, similarly trails index returns by a significant margin.</li> <li>The Sharpe ratio of the buying the dips strategy can approach the index result, but only when the required drop is low and the required rebound is high (i.e only when the strategy starts to be exposed to the index for long periods), but it still fails to match the total returns of being fully invested long-term. Using a modified approach boosts the Sharpe ratio but means giving up some return potential.</li> </ul>
        <p>In short, the &lsquo;buy the dips&rsquo; strategy can only hope to match the risk and return profile of the index when the required drop is low and the rebound is high. This means that investors are in the market for long periods without the rewards of staying continually invested, and they face further drops as the market finds it bottom.</p>
        <p>Emerging market debt is a volatile asset class and it&rsquo;s natural for investors to try to improve risk and return characteristics by tactically trading it. But the numbers do not indicate there is value in such an approach. In fact, investors are penalised for reducing time spent in the market and rewarded for staying continually invested. The best strategy is to remain in the market and allocate effectively within it. </p>
        <p><a href="../media/pdf/expert-opinions/does-buying-the-dips-work-for-emd.pdf" target="_blank">Download the full article</a></p>
        <p><sup>1</sup> Measured by the daily compounded total return of a 3m LIBOR index, as calculated by Bloomberg</p>
        <p><strong>This document is for Investment Professionals only and should not be relied on by private investors.</strong></p>
        <p>This document is provided for information purposes only and is intended only for the person or entity to which it is sent. It must not be reproduced or circulated to any other party without prior permission of Fidelity.</p>
        <p>This document does not constitute a distribution, an offer or solicitation to engage the investment management services of Fidelity, or an offer to buy or sell or the solicitation of any offer to buy or sell any securities in any jurisdiction or country where such distribution or offer is not authorised or would be contrary to local laws or regulations. Fidelity makes no representations that the contents are appropriate for use in all locations or that the transactions or services discussed are available or appropriate for sale or use in all jurisdictions or countries or by all investors or counterparties. <br />This communication is not directed at, and must not be acted on by persons inside the United States and is otherwise only directed at persons residing in jurisdictions where the relevant funds are authorised for distribution or where no such authorisation is required. Fidelity is not authorised to manage or distribute investment funds or products in, or to provide investment management or advisory services to persons resident in, mainland China. All persons and entities accessing the information do so on their own initiative and are responsible for compliance with applicable local laws and regulations and should consult their professional advisers.</p>
        <p>Reference in this document to specific securities should not be interpreted as a recommendation to buy or sell these securities, but is included for the purposes of illustration only. Investors should also note that the views expressed may no longer be current and may have already been acted upon by Fidelity. The research and analysis used in this documentation is gathered by Fidelity for its use as an investment manager and may have already been acted upon for its own purposes. This material was created by Fidelity International.</p>
        <p>Past performance is not a reliable indicator of future results.</p>
        <p>This document may contain materials from third-parties which are supplied by companies that are not affiliated with any Fidelity entity (Third-Party Content). Fidelity has not been involved in the preparation, adoption or editing of such third-party materials and does not explicitly or implicitly endorse or approve such content. </p>
        <p>Fidelity International refers to the group of companies which form the global investment management organization that provides products and services in designated jurisdictions outside of North America Fidelity, Fidelity International, the Fidelity International logo and F symbol are trademarks of FIL Limited. Fidelity only offers information on products and services and does not provide investment advice based on individual circumstances.</p>
        <p>Issued in Europe: Issued by FIL Investments International (FCA registered number 122170) a firm authorised and regulated by the Financial Conduct Authority, FIL (Luxembourg) S.A., authorised and supervised by the CSSF (Commission de Surveillance du Secteur Financier) and FIL Investment Switzerland AG, authorised and supervised by the Swiss Financial Market Supervisory Authority FINMA. For German wholesale clients issued by FIL Investment Services GmbH, Kastanienh&ouml;he 1, 61476 Kronberg im Taunus. For German institutional clients issued by FIL Investments International &ndash; Niederlassung Frankfurt on behalf of FIL Pension Management, Oakhill House, 130 Tonbridge Road, Hildenborough, Tonbridge, Kent TN11 9DZ.</p>
        <p>In Hong Kong, this document is issued by FIL Investment Management (Hong Kong) Limited and it has not been reviewed by the Securities and Future Commission. FIL Investment Management (Singapore) Limited (Co. Reg. No: 199006300E) is the legal representative of Fidelity International in Singapore. FIL Asset Management (Korea) Limited is the legal representative of Fidelity International in Korea. In Taiwan, Independently operated by FIL Securities (Taiwan ) Limited, 11F, 68 Zhongxiao East Road., Section 5, Xinyi Dist., Taipei City, Taiwan 11065, R.O.C. Customer Service Number: 0800-00-9911#2</p>
        <p>IC17-88</p> "
        }
    </script>*@
</div>