﻿@using DynamicPlaceholders.Mvc.Extensions
@using Glass.Mapper.Sc.Fields
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<Demo.FIL.WebUI.Models.Panel>

@{
    var imageSrc = Model.Image != null ? Model.Image.Src : null;
    var colour = Model.PanelColour;
    var background = imageSrc != null ? "background-image: url("+imageSrc+ "); background-position: center;" : "background-color: "+colour+"";
}

<div class="panel content-panel2 expanded striped dark" style="@background">
    @Html.Sitecore().DynamicPlaceholder("PanelContent")
</div>