﻿@using DynamicPlaceholders.Mvc.Extensions
@using Glass.Mapper.Sc.Fields
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<Demo.FIL.WebUI.Models.ContactSpotList>

@{ 
    var i = 0;
}
<div id="container-region">
    <div class="page-padding contact-overview">
        <div class="row collapse">
            <div class="column">
                <h1>@Editable(Model, x => x.Title, true) </h1>
                <p class="lead">@Editable(Model, x => x.Summary, true)</p>
                <div class="row large-grid-gutter-large small-collapse">
                    <div class="large-17 end columns collapse-left">
                        <div class="addresses-container">
                            @if (Model.contactSpots != null)
                            {
                                foreach (var item in Model.contactSpots)
                                {
                                    if(i==0) { @Html.Raw("<div class=\"row large - flex - container\">"); }
                                    <div class="large-12 columns large-flex-container">
                                        <div class="address-container dashboard-bg dashboard-item-padding flex-item" style="min-height: 215px;">
                                            <p class="content-label" style="margin-bottom: 12px !important;">@Editable(item, x => x.Title, true)</p>
                                            @Editable(item, x => x.Details, true)
                                        </div>
                                    </div>
                                    i++;
                                    if (i == 2) { @Html.Raw("</div>"); i =0;                                     }
                                   
                                }
                            }
                        </div>
                    </div>
                    <div class="large-7 columns collapse-right">
                        <div id="right-region">
                            <div class="article-sidebar">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>