﻿@using DynamicPlaceholders.Mvc.Extensions
@using Glass.Mapper.Sc.Fields
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<Demo.FIL.WebUI.Models.ContactSpot>

<div class="address-container dashboard-bg dashboard-item-padding flex-item">
    <p class="content-label">@Editable(Model, x => x.Name)</p>
    @Editable(Model, x => x.Details)
</div>