﻿@using DynamicPlaceholders.Mvc.Extensions
@using Glass.Mapper.Sc.Fields
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<Demo.FIL.WebUI.Models.Panel>

@{
    var imageSrc = Model.Image != null ? Model.Image.Src : null;
    var colour = Model.PanelColour;
    var background = imageSrc != null ? "background-image: url("+imageSrc+")" : "background-color: "+colour+"";
}

<div class="intro-panel">
    

    <div class="content-container banner-image text-center" style="@background; background-position: center;">
        @*@RenderImage(x => x.Image, null, true, true)*@
        @Html.Sitecore().DynamicPlaceholder("PanelContent")
       
    </div>

</div>
