﻿@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<Demo.FIL.WebUI.Models.HotspotBase>

<div class="large-8 columns panel-content large-flex-container">
    <div class="banner-content flex-item">
        <h3>@RenderLink(x => x.Link, null, true, @Model.Link.Text)</h3>
    </div>
</div>