﻿@using Demo.FIL.WebUI.Models
@using DynamicPlaceholders.Mvc.Extensions
@using Glass.Mapper.Sc.Fields
@using Sitecore.ContentSearch.Utilities

@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<Demo.FIL.WebUI.Models.ListingTeaser>


<div class="large-12 columns end">
    <div class="overview-item" style="margin-bottom:25px;">
        <div>
            @RenderImage(Model, x => x.Image, new { @class = "author-img", width = "60", height = "60" }, true)
        </div>
        <div>
            <div class="item-container">
                <h3>
                    <a href="@Model.Link.Url">@Editable(Model, x => x.Title, true)</a>
                    @*@using (BeginRenderLink(Model, x => x.Link))
                        {
                            @Html.Sitecore().Field()
                        }*@
                    @*@RenderLink(Model, x => x.Link, null, true)
                        @Model.DisplayName*@
                </h3>
                <div class="meta">

                    <span>
                        <span class="label-pro">
                            @if (Sitecore.Context.PageMode.IsExperienceEditorEditing && Model.ContentTypeTags == null)
                            {<p>[Content Label]</p>
                            }
                            else
                            {
                                if (Model.ContentTypeTags != null)
                                {
                                    Tag first = null;
                                    foreach (var tag in Model.ContentTypeTags)
                                    {
                                        first = tag;
                                        break;
                                    }
                                    @first.Text
                                }
                            }
                        </span>
                    </span>

                    <span class="author icon-author">
                        @if (Sitecore.Context.PageMode.IsExperienceEditorEditing && Model.Author == null)
                        {<p>[Author Label]</p>
                        }
                        else
                        {@Model.Author.FirstOrDefault().AuthorName
                        }
                    </span>
                    <span class="region icon-regional">
                        @if (Sitecore.Context.PageMode.IsExperienceEditorEditing && Model.RegionTags == null)
                        {<p>[Region Label]</p>
                        }
                        else
                        {
                            if (Model.RegionTags != null)
                            {
                                Tag first = null;
                                foreach (var tag in Model.RegionTags)
                                {
                                    first = tag;
                                    break;
                                }
                                @first.Text
                            }
                        }
                    </span>

                    <span class="date icon-date">
                        @Editable(Model, x => x.Date)
                    </span>



                </div>
                <p>

                    @Editable(Model, x => x.IntroText)
                </p>


                <div class="tags-wrapper">
                    <span>
                        @if (Sitecore.Context.PageMode.IsExperienceEditorEditing && Model.TopicTags == null)
                        {<p>[Topic Label]</p>
                        }
                        else
                        {
                            if (Model.TopicTags != null)
                            {
                                Tag first = null;
                                foreach (var tag in Model.TopicTags)
                                {
                                    first = tag;
                                    break;
                                }

                            }
                        }
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>