﻿@using Demo.FIL.WebUI.Models
@using DynamicPlaceholders.Mvc.Extensions
@using Glass.Mapper.Sc.Fields
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<Demo.FIL.WebUI.Models.ListingPage>

<div id="container-region">
    <div>
        <div class="page-padding">
            <div class="row large-grid-gutter-large small-collapse medium-collapse">
                @Html.Sitecore().Placeholder("ListingPage")
            </div>
        </div>
    </div>
</div>