﻿@using Demo.FIL.WebUI.Models
@using DynamicPlaceholders.Mvc.Extensions
@using Glass.Mapper.Sc.Fields
@using Glass.Mapper.Sc.Web.Mvc
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<Demo.FIL.WebUI.Models.ListingsPage>

<div id="container-region">
    <div class="page-padding">
        <div class="row collapse">
            <div class="small-24 columns">
                <h1>@Editable(Model, x => x.Title)</h1>
                <div class="articles-overview">
                    <div class="row">
                        @foreach (ListingTeaser item in Model.Listings)
                        {
                            @*ID id = null;
                            ID.TryParse(item.Id.ToString(), out id);
                            @Html.Sitecore().Rendering(item["__Renderers"], 
                                new {
                                    Datasource = item.Id, 
                                    Message = "Hello World"
                                })
                            @Html.Sitecore().Rendering("/sitecore/layout/Renderings/FIL/Components/ListingTeaser", new {Datasource=Sitecore.Context.Database.GetItem(id).Paths.ContentPath })*@
                            @Html.Partial("~/Views/Components/ListingTeaser.cshtml", item)
                            
                        }
                    </div>
                </div>
                <div id="professionals-only-region"></div>
            </div>
        </div>
    </div>
</div>
