﻿@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<Demo.FIL.WebUI.Models.PanelThreeTeasers>
@using Demo.FIL.WebUI.Models
@using DynamicPlaceholders.Mvc.Extensions

@if (Model.Teasers == null && Sitecore.Context.PageMode.IsExperienceEditorEditing)
{ <p> You can also to add links to your teaser content items</p>}
else
{
    if (Model.Teasers != null)
    {
        <div class="row small-collapse large-uncollapse large-flex-container">
            <div class="row small-collapse large-uncollapse">
                <div class="column panel-header">
                </div>
            </div>
            <div class="row small-collapse large-uncollapse large-grid-gutter-large">
                @foreach (HotspotImage item in Model.Teasers)
                {
                    <div class="large-8 columns panel-content">
                        <span class="link" augmented-external="t">
                            @using (BeginRenderLink(item, x => x.Link, isEditable: true))
                            {
                                @RenderImage(item, x => x.Image)
                            }
                            @*<a href="http://www.efficiency.ch/" target="_blank" augmented-external="t">
                                    <img src="/static/switzerland/images/homepage/efficiency.gif" alt="">
                                </a>*@
                        </span>
                        <div class="overlay-simple text-center">
                            <p>You are now leaving fidelity.ch for a website that is unaffiliated with Fidelity.</p>

                            <p>Fidelity has not been involved in the preparation of the content supplied at the unaffiliated site and does not guarantee or assume any responsibility for its content.</p>

                            <div>
                                <span class="button-primary btn-cancel">Cancel</span>
                                <span class="button-primary btn-ok">Okay</span>
                            </div>
                        </div>
                        <p class="lead">@Editable(item, x => x.Text)</p>
                    </div>
                }
            </div>
        </div>
    }
}
