﻿@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<Demo.FIL.WebUI.Models.PanelRight>

<div class="row small-collapse large-uncollapse">
    <div class="large-12 large-offset-12 columns">
        <div class="banner-content">
            <h1>@Editable(x => x.Title)</h1>
            <p>@Editable(x => x.Text)</p>
            <div class="button-container">
                @RenderLink(x => x.Link, new { @class = "button-primary" }, true)
            </div>
        </div>
    </div>
</div>