﻿@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<Demo.FIL.WebUI.Models.PanelOneWide>


    <div class="row small-collapse large-uncollapse">
        <div class="column panel-header">
            <div class="banner-content">
                <h1>@Editable(x => x.Title)</h1>
                <p class="lead show-for-medium">@Editable(x => x.Text)</p>
            </div>
        </div>
    </div>
