﻿@using DynamicPlaceholders.Mvc.Extensions

<div class="row small-collapse large-uncollapse large-flex-container">
    @Html.Sitecore().DynamicPlaceholder("PanelHotspot")
</div>
<div class="row small-collapse large-uncollapse large-flex-container">
    @Html.Sitecore().DynamicPlaceholder("PanelHotspot")
</div>
<div class="row small-collapse large-uncollapse large-flex-container">
    @Html.Sitecore().DynamicPlaceholder("PanelHotspot")
</div>