﻿@using DynamicPlaceholders.Mvc.Extensions


    <div class="content-container striped dark">
        <div class="row small-collapse large-uncollapse large-grid-gutter-large">
            <div class="large-12 end columns panel-content">
                @Html.Sitecore().DynamicPlaceholder("Hotspot")
            </div>
            <div class="large-12 end columns panel-content">
                @Html.Sitecore().DynamicPlaceholder("Hotspot")
            </div>
        </div>
    </div>
