﻿@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<Demo.FIL.WebUI.Models.PanelOneWideComplex>

<div class="panel content-panel4 expanded">
    <div class="content-container">
        <div class="row small-collapse large-uncollapse">
            <div class="large-12 columns">
                <a href="@Model.Link">
                    @RenderImage(x => x.TeaserImage, null, true)
                </a>
            </div>
            <div class="large-12 columns" style="text-align:left !important;">
                <h1>@Editable(x => x.Title)</h1>
                @Editable(x => x.Text)
                <div class="button-container">
                    @RenderLink(x => x.Link, new {@class= "button-primary" }, true)
                </div>
            </div>
        </div>
    </div>
</div>