﻿@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<Demo.FIL.WebUI.Models.PanelLeft>

<div class="row small-collapse large-uncollapse">
    <div class="large-12 columns content-panel3">
        <div class="banner-content" style="text-align: left;">
            <h1 style="margin-bottom: 25px;">@Editable(x => x.Title)</h1>
            @Editable(x => x.Text)
            <div class="button-container">
                @RenderLink(x => x.Link, new {@class= "button-primary" }, true)
            </div>
        </div>
    </div>
</div>