﻿@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<Demo.FIL.WebUI.Models.PanelOneWideThreeTeasers>
@using Demo.FIL.WebUI.Models
@using DynamicPlaceholders.Mvc.Extensions

<div class="row small-collapse large-uncollapse">
    <div class="column panel-header">
        <div class="banner-content">
            <h1>@Editable(x => x.Title)</h1>
            <p class="lead show-for-medium">@Editable(x => x.Text)</p>
        </div>
    </div>
</div>

@if(!Model.Teasers.Any() && Sitecore.Context.PageMode.IsExperienceEditorEditing)
{ <p> You can also to add links to your teaser content items</p>}
else
{
    <div class="row small-collapse large-uncollapse large-flex-container">
        @foreach (HotspotBase item in Model.Teasers)
        {

        <div class="large-8 columns panel-content large-flex-container">
            <div class="banner-content flex-item">
                @*@item.Link.Text
                    @item.Link.Url*@
                @if (item.Link != null)
                {
                    <h3>@*@RenderLink(item.Link)*@</h3>
                        @RenderLink(item, x => x.Link, null, true)
                }

            </div>
        </div>
    
    }
    </div>
}
