﻿@using Demo.FIL.WebUI.Models
@using DynamicPlaceholders.Mvc.Extensions
@using Glass.Mapper.Sc.Fields
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<Demo.FIL.WebUI.Models.ListingPage>

<div class="item-container">
    <p class="section-label">Related content / share classes</p>
    <ul class="no-bullet wide">
        <li>
            <a href="/en/articles/views-from-the-floor/2017-10-27-taper-no-tantrum-1509102304431" data-is-modified="1">Taper, no tantrum</a>
        </li>
        <li>
            <a href="/en/articles/analysis-and-research/2017-10-26-ff-emerging-market-total-return-debt-fund-2-year-anniversary-1509098984919" data-is-modified="1">FF Emerging Market Total Return Debt Fund - 2 Year Anniversary</a>
        </li>
        <li>
            <a href="/en/articles/expert-opinions/2017-10-26-european-high-yield-a-perfect-calm-1509025066402" data-is-modified="1">European High Yield: A perfect calm?</a>
        </li>
        <li>
            <a href="/en/articles/expert-opinions/2017-10-26-china-the-next-five-years-1509020308765" data-is-modified="1">China: the next five years</a>
        </li>
        <li>
            <a href="/en/videos/common/china-the-next-five-years-1509102995965" data-is-modified="1">China: the next five years</a>
        </li>
    </ul>
</div>