﻿@using Demo.FIL.WebUI.Models
@using DynamicPlaceholders.Mvc.Extensions
@using Glass.Mapper.Sc.Fields
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<Demo.FIL.WebUI.Models.Author>

@{
    var searchUrl = Model.AuthorName != null ? "/en/search/author/" + Model.AuthorName.Replace(" ", "%20") : "";
}


<div class="author-container">
    <div class="row small-collapse medium-uncollapse large-collapse">
        <div class="small-24 medium-8 large-24 columns medium-collapse-left">
            @RenderImage(Model, x => x.Image, new { width = "310", height = "180" },true)
        </div>
        <div class="small-24 medium-16 large-24 columns medium-collapse-right">
            <div class="author-content">
                <h3>
                    <a href="@searchUrl" data-is-modified="1">@Editable(Model, x => x.AuthorName)</a>
                </h3>
                <p>@Editable(Model, x => x.Bio)</p>
            </div>
        </div>
    </div>
</div>