﻿@using Demo.FIL.WebUI.Models
@using DynamicPlaceholders.Mvc.Extensions
@using Glass.Mapper.Sc.Fields
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<Demo.FIL.WebUI.Models.ListingPage>

<div class="small-24 large-17 end columns large-collapse-left">
    <div id="main-region">
        @Html.Sitecore().Placeholder("Main")
    </div>
</div>
<div class="small-24 large-7 columns large-collapse-right">
    <div id="right-region">
        @Html.Sitecore().Placeholder("Right")
    </div>
</div>