﻿@using Demo.FIL.WebUI.Models
@using Glass.Mapper.Sc.Fields
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<Demo.FIL.WebUI.Models.Footer>

<footer id="footer">
    <div id="footer-region">
        <div class="footer-container">
            <div class="row collapse">
                <div class="small-24 columns">
                    <div class="content float-left">
                        <div class="link-container">
                            @if (Model.Links != null)
                            {
                                foreach (MyLink link in Model.Links)
                                {
                                    @Editable(link, x => x.Link, new System.Collections.Specialized.NameValueCollection { { "data-is-modified", "1" } })
                                }
                            }
                        </div>
                        <div class="copyright">@Editable(Model, x => x.CopyRight)
                            <span style="color:#d4d4d4;">[F:17.9.4.1]</span>
                        </div>
                    </div>
                    <div class="logo float-right show-for-large">
                        @RenderImage(Model, x => x.Logo,null,true)
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
