﻿
<header id="header">

    <div id="topbar-region">
        <div>
            <div class="row collapse">
                <div class="small-24 columns" style="margin-top:10px;">
                    <div class="top-bar hide-for-small-only" data-topbar="" data-no-turbolink="" role="navigation" aria-label="Search and My Fidelity" data-options="is_hover: true">
                        <div class="top-bar-section top-bar-right">
                            <div class="menu">
                                <div style="vertical-align:;">
                                    <div class="search-container">
                                        @*<input class="top-bar-fundsearch" type="text" id="fundSearchInput" placeholder="Search by fund name / ISIN" autocomplete="off">
                                        <label class="hide" for="fundSearchInput"></label>
                                        <span class="icon-search"></span>
                                        <div class="fund-search-result-region"><div class="fund-search-result" style="display: none;"></div></div>*@                   
                                        <div class="search-box">
                                            <form action="/search" method="post" id="searchform">
                                                <div class="input-group">
                                                    <input type="text" name="SearchStr" placeholder="Search" class="form-control"  ID="SearchBox"  />
                                                    <span class="input-group-btn">
                                                        <button class="btn btn-primary" type="submit"><span class="icon-search"></span></button>
                                                    </span>
                                                </div>
                                            </form>
                                        </div>

                                    </div>
                                </div>
                                <div class="menu-button" style="vertical-align:baseline;">
                                    <button type="button" class="button-secondary viewCheck" data-toggle="login-dropdown" rel="nofollow" aria-controls="login-dropdown" data-is-focus="false" data-yeti-box="login-dropdown" aria-haspopup="true" aria-expanded="false">Log in or Register</button>
                                </div>
<!--
                                <div class="menu-button">
                                    <a class="button-language-switcher icon-sort-after" href="javascript:void(0);">Language (English)</a>
                                </div>
    -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dropdown-pane xlarge hide-for-small-only" id="login-dropdown" data-dropdown="" data-position-class="left" aria-hidden="true" data-yeti-box="login-dropdown" data-resize="login-dropdown" aria-labelledby="vczgvw-dd-anchor" data-e="ghhchw-e">
                <div>
                    <div id="overlay-login" class="overlay overlay-login headerLogin">
                        <div class="overlay-close-button icon-close" data-close=""></div>
                        <div class="overlay-content-container overlay-item-padding">
                            <div class="row collapse display-table-with-border large-flex-container">
                                <div class="large-12 columns">
                                    <div class="overlay-leftcolumn">
                                        <div class="login-region">
                                            <div>
                                                <div id="myfidelity-login-view77" class="myfidelity-login">
                                                    <div class="flex-container">
                                                        <div class="flex-item"><h2>Log in</h2></div>
                                                        <div class="flex-item clearfix"><div class="help-container float-right"><span class="icon-info-inverse link"><a href="https://www.fidelity.ch/en/help" class="button-link" data-is-modified="1">Help</a></span></div></div>
                                                    </div>

                                                    <form id="myfidelity-login-form-view77" novalidate="novalidate">
                                                        <input type="text" name="username" value="" placeholder="Username" onclick="this.select()" required="" aria-required="true">
                                                        <input type="password" name="password" placeholder="Password" onclick="this.select()" required="" aria-required="true">
                                                        <div class="checkbox-container">
                                                            <input type="checkbox" name="save-username" value="save-username" id="save-username-view77"><label for="save-username-view77"><span></span>Remember my username on this computer</label>

                                                        </div>
                                                        <button class="button-secondary">Log in</button>
                                                        <p><a href="https://www.fidelity.ch/en/my-fidelity/forgotten-username" rel="nofollow" data-close="" data-is-modified="1">Have you forgotten your username or password?</a></p>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="large-12 columns">
                                    <div class="overlay-rightcolumn">
                                        <h2>Register</h2>
                                        <p>Advantages of registering for My Fidelity:</p>
                                        <ul class="list wide">
                                            <li>Information tailored to your needs</li>
                                            <li>Stay updated with latest news via our push broadcast service</li>
                                            <li>Exclusive information from the Fidelity investment professionals</li>
                                        </ul>
                                        <div class="button-container">
                                            <a class="button-secondary margin-right" id="login-dropdown-registration-link" href="https://www.fidelity.ch/en/my-fidelity/registration" rel="nofollow" data-is-modified="1">Register now for free</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="overlay-footer-container">
                            <div class="row collapse">
                                <div class="column">
                                    <div class="ce--nav--pro">
                                        <div class="label-pro-container"><span class="label-pro-large">PRO</span>My Fidelity is for fund professionals only.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="header-region">
        <div>
            <div class="logo-container float-left">
                <a href="/" data-is-modified="1"><img src="~/assets/img/fidelity-international-logo.svg" alt="Fidelity International" class="logo"></a>
            </div>
            <div id="nav-bar-region" class="navigation-main">
                <div class="ce--main-bar">
                    <ul class="ce--main-bar--icons float-right">
                        <li class="ce--main-bar--icons-search icon-search-after show-for-small-only" data-next-state="show-search" tabindex="0"></li>
                        <li class="ce--main-bar--icons-menu icon-menu-container" data-next-state="show-navigation" tabindex="0">
                            <div class="bar1"></div>
                            <div class="bar2"></div>
                            <div class="bar3"></div>
                        </li>
                    </ul>
                    <div class="ce--main-bar--search-bar float-right">
                        <div class="search-container">
                            <input class="ce--main-bar--search" type="text" placeholder="Search by fund name / ISIN">
                            <div class="mobile-search-result-region">
                                <div class="fund-search-result" style="display: none;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @Html.Sitecore().Placeholder("Navigation")

<!--            <div class="language-switcher-dropdown">
                 <div class="navigation">
                    <div class="no-border">
                        <ul class="dropdown language-items">
                            <li><a href="https://www.fidelity.ch/de/" data-bypass="">Sprache (Deutsch)</a></li>
                        </ul>
                    </div>
                </div>
            </div>
    -->
        </div>
    </div>
</header>
